<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'login/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/elephant.min.css' %}">

    {% block styles %}
    {% endblock %}

  </head>
  <body>

        {% block content %}

        {% endblock %}

    <script src="{% static 'login/js/vendor.min.js' %}"></script>
    <script src="{% static 'login/js/elephant.min.js' %}"></script>

  {% block scripts %}
  {% endblock %}
  </body>
</html>
