{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <h3 class="title">General Report</h3>
        <hr>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="card" style="-webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%); box-shadow: 0 1px 2px rgb(0 0 0 / 10%);">
        <div class="card-header">
            <h5>Message Outbox</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="MyTable">
            <thead>
            <tr>
                <th>Phone Number</th>
                <th>Message</th>
                <th>Date Sent</th>
                <th>Delivery Status</th>

            </tr>
            </thead>

        </table>
            </div>

        </div>
        </div>
    </div>

    </div>

{% endblock %}

{% block additional_scripts %}

    <script>
        $(document).ready(function() {
        var oTable = $('#MyTable').DataTable({
            // ...
            "order": [[ 3, "desc" ]],
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'sms:all_messages_json' %}"
            },
        });
        });

    </script>
{% endblock %}


