{% extends 'layouts/new_base.html' %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h5>Campaigns > Scheduled Messages > Reference : {{ track_code }}</h5>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible {% if message.tags == error %} alert-danger {% else %} alert-primary {% endif %}">
                        <button class="close" type="button" data-dismiss="alert">×</button><strong>Oh snap!</strong><a class="alert-link" href="#">{{ message }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="-webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%); box-shadow: 0 1px 2px rgb(0 0 0 / 10%);">
            <div class="card-header">
                <h6>Scheduled Messages</h6>
            </div>

            <div class="card-body">

                <div class="tile-body table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Sender Name</th>
                            <th>Schedule Time</th>
                            <th>Sent ??</th>
                            <th>Active ??</th>
{#                            <th>Actions</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in text_messages %}
                            <tr>
                                <td>{{ message.track_code }}</td>
                                <td>{{ message.sender_name }}</td>
                                <td>{{ message.scheduled_time }}</td>
                                <td>{% if message.is_sent %} Sent {% else %} Pending {% endif %}</td>
                                <td>{% if message.active %} Active {% else %} De-Actived {% endif %}</td>
{#                                <td>#}
{#                                    <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-eye"></i> View</a>#}
{#                                    {% if not message.is_sent %}#}
{#                                        {% if message.active %}#}
{#                                            <a href="{% url 'scheduled_sms:disable_scheduled_per_track_code' message.track_code %}"#}
{#                                               class="btn btn-sm btn-warning"><i class="fa fa-trash"></i>#}
{#                                                De-Activate</a>#}
{#                                        {% else %}#}
{#                                            <a href="{% url 'scheduled_sms:disable_scheduled_per_track_code' message.track_code %}"#}
{#                                               class="btn btn-sm btn-info"> Activate</a>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}