{% extends 'r/layouts/base.html' %}
{% load static %}

{% block title %}
    Roberms | Password Reset Complete
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login/css/signup-2.min.css' %}">
{% endblock %}

{% block content %}
    <div class="signup">
      <div class="signup-body">
          <div class="row">
              <div class="col-sm-2">
                  <img class="img-responsive" src="{% static 'images/robermss.ico' %}" alt="Roberms">
              </div>
              <div class="col-sm-8">
                  <h4>PASSWORD RESET DONE</h4>
              </div>
          </div>
            <br>

          {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible {% if message.tags == 'error' %} alert-danger {% else %} alert-primary {% endif %}">
                        <button class="close" type="button" data-dismiss="alert">×</button><strong></strong><a class="alert-link" href="#">{{ message }}</a>
                    </div>
                {% endfor %}
            {% endif %}

        <p>
            Password rest complete. You may go ahead and <a href="{% url 'sms:login' %}">sign in</a> now.
        </p>
      </div>
    </div>

{% endblock %}