{% extends 'r/layouts/base.html' %}
{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'login/css/signup-2.min.css' %}">
{% endblock %}

{% block content %}
    <div class="signup">
      <div class="signup-body">
        <form class="login-form" action="{% url 'sms:verify_account' %}" method="post">
            {% csrf_token %}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Verify Account</h3>

          <div class="form-group">
            <label class="control-label">VERIFICATION CODE</label>
            <input class="form-control" type="text" name="customer_code" placeholder="Verification Code">
          </div>

          <div class="form-group btn-container">
            <button  type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>VERIFY</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}